<!DOCTYPE html>
<html lang="ru">
<th:block th:replace="include/header :: head"></th:block>
<body>
<th:block th:replace="include/menu :: menu"></th:block>

<table>
    <caption>PROJECT LIST</caption>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">STATUS</th>
        <th scope="col">START</th>
        <th scope="col">FINISH</th>
        <th scope="col">EDIT</th>
        <th scope="col">DELETE</th>
    </tr>
    <tr th:each="project : ${projects}">
        <td th:text="${project.id}"></td>
        <td th:text="${project.name}"></td>
        <td th:text="${project.description}"></td>
        <td th:text="${project.status.displayName}"></td>
        <td th:text="${#dates.format(project.start, 'dd.MM.yyyy')}"></td>
        <td th:text="${#dates.format(project.finish, 'dd.MM.yyyy')}"></td>
        <td><a th:href="@{/project/edit/{id}(id=${project.id})}">EDIT</a></td>
        <td><a th:href="@{/project/delete/{id}(id=${project.id})}">DELETE</a></td>
    </tr>
</table>
<br/>
<form action="/project/create" method="get">
    <button type="submit">CREATE PROJECT</button>
</form>

<th:block th:replace="include/footer :: foot"></th:block>
</body>
</html>