<!DOCTYPE html>
<html lang="ru">
<th:block th:replace="include/header :: head"></th:block>
<body>
<th:block th:replace="include/menu :: menu"></th:block>

<form method="post" th:action="@{/project/edit/{id}(id=${project.id})}">
    <h1>PROJECT EDIT</h1>
    <fieldset>
        <input name="id" th:value="${project.id}" type="hidden"/>

        <label for="name">Name:</label>
        <input id="name" name="name" th:value="${project.name}" type="text"/>

        <label for="description">Description:</label>
        <input id="description" name="description" th:value="${project.description}" type="text"/>

        <label for="status">Status</label>
        <select id="status" name="status">
            <option th:each="status : ${statuses}" th:selected="${project.status == status}"
                    th:value="${status}">[[${status.displayName}]]
            </option>
        </select>

        <label for="start">Start Date:</label>
        <input id="start" name="start" th:value="${#dates.format(project.start, 'yyyy-MM-dd')}" type="date"/>

        <label for="finish">Finish Date:</label>
        <input id="finish" name="finish" th:value="${#dates.format(project.finish, 'yyyy-MM-dd')}" type="date"/>
    </fieldset>
    <button type="reset">RESET</button>
    <button type="submit">SAVE PROJECT</button>
</form>

<th:block th:replace="include/footer :: foot"></th:block>
</body>
</html>